<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{asset "built/index.css"}}" />
    <script src="{{asset "built/index.js"}}" defer></script>

    <title>{{meta_title}}</title>

    {{ghost_head}}
    {{!-- Outputs important meta data and settings, should always be in <head> --}}

</head>
<body class="{{body_class}}">
  {{#is "home"}}
    <header class="fixed w-full z-10 bg-white">
      <nav class="py-4 flex justify-evenly items-center text-black">
        <h2 class="text-m">Portfolio</h2>
        <h2 class="text-m">Reviews</h2>
        <img class="w-60" src="{{ asset 'images/logo black.png' }}" alt="Camories logo"/>
        <h2 class="text-m">About Us</h2>
        <h2 class="text-m">Contact</h2>
      </nav>
    </header>
  {{/is}}

  <main>
      {{{body}}}
  </main>

  <footer class="flex justify-center items-center py-16 px-12 bg-sacramento text-white">
    <div class="flex flex-col justify-center items-center grow basis-0">
      <h3 class="text-xl">Follow us on our socials</h3>
      <p class="whitespace-pre-line text-center mb-6">
        111 Congress Ave. / Suite 400
        Austin, Texas 78701
        +91 89374 91248 / hello@camories.com
      </p>
      <div class="flex justify-center items-center space-x-8">
        {{> "icons/instagram" }}
        {{> "icons/facebook" }}
      </div>
    </div>

    <div class="flex flex-col justify-center items-center grow text-black basis-0">
      <img class="w-60 mb-12" src="{{ asset 'images/logo white.png' }}" alt="Camories logo"/>
      {{> "cta-light" title="Get in touch" }}
    </div>

    <div class="flex flex-col justify-center items-center grow basis-0">
      <div class="space-y-4">
        <h3>Portfolio</h3>
        <h3>About</h3>
        <h3>Testimonials</h3>
        <h3>Privacy Policy</h3>
        <h3>Terms & Conditons</h3>
      </div>
    </div>

  </footer>

  {{!-- <foot> --}}
  {{ghost_foot}}
  {{!-- Outputs important scripts - should always be included before closing body tag --}}

</body>
</html>
